{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h3 class="h1 mb-0 text-gray-800">Доска</h3>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'add_category'%}" class="btn btn-sm btn-dark shadow-sm"><i
                    class="fas fa-clipboard-list fa-sm text-white-white-white-50"></i> Добавить категорию</a>
            <a href="{% url 'add_expense'%}" class="btn btn-sm btn-dark shadow-sm"><i
                    class="fas fa-ruble-sign fa-sm text-white-white-white-50"></i> Добавить расход</a>
            <a href="get_report" class="btn btn-sm btn-dark shadow-sm"><i
                    class="fas fa-download fa-sm text-white-white-white-50"></i> Сгенерировать отчет</a>
        </div>
    </div>
</div>


    <div class="row">
        {% for category in categories %}
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="{% url 'category_detail' pk=category.id %}">
                <div class="card border-left-dark shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                    {{ category.name }}</div>
            </a>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{% if category.total_sum %}{{category.total_sum }} {% else %} 0 {% endif %}</div>
        </div>
        <div class="col-auto">
            <i class="fas fa-ruble-sign fa-2x text-gray-300"></i>
            <form method="post" action="{% url 'delete_category' pk=category.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark btn-sm" onclick="return confirm('Вы уверены, что хотите удалить эту категорию?')">Удалить</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>

{% endfor %}
</div>
</div>

{% endblock %}